*{
  font-family: Mochiy Pop P One;
    font-weight:400;
    letter-spacing: 10px;
    color:grey;
}

body {
    background:#d0e2e26e;
}
header{
  color: #474747;
}

/*Main image*/

.banner {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:50px;

}

.modal-btn {
  border-radius: 8px;
  width: 50%;
  border:solid rgb(85, 160, 204);
  display:flex;
  align-items: center;
  justify-content: center;
   display:inline-block;
    transition: all 0.3s ease;
}


.modal-btn:hover {
  background-color:rgb(173 222 250);
}

.modal-overlay {
   display:flex;
  align-items: center;
  justify-content: center;
 margin-top:50px;
  position: absolute;
  top: 5%;
  left:10%;
  width: 80%;
  height: 80%;
  background: rgb(234 242 242);
  border:solid black;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
}
/* OPEN/CLOSE Rules */
.open-modal {
  visibility: visible;
  z-index: 10;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.close-btn:hover {
  transform: scale(1.3);
}


.main_image{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation menu */

#menu {
    font-size: 1rem;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  #menu li {
    list-style-type: none;
    margin-right: 2%;
  }
  
  #menu a:hover {
    border-bottom: 6px solid rgb(85, 160, 204);
    border-radius: 3px ;
  }
  
  #menu a {
    text-decoration: none;
    color: inherit;
  }

  h1{
      text-align: center;
  }

  /* score_board */

  .score-board{
    border-bottom:3px solid rgb(85, 160, 204);
    border-top:3px solid rgb(85, 160, 204);
    border-radius: 20px;
    width:200px;
    margin:20px auto;
    font-size: 40px;
    text-align: center;
    padding: 15px 20px;
    position:relative;
  }
  
  .badge{
  background-color: lightblue;
  font-size: 14px;
  padding: 2px 10px;
  }
  
  #user-label{
  position:absolute;
  top:30px;
  left:-105px;
  }
  
  #comp-label{
    position:absolute;
    top:30px;
    right:-125px;
  }

  .result {
    font-size:20px;
    color:white;
}

.result >p{
    text-align: center;
    font-weight:bold;

}

  /* game selection */
  .choices{
    margin-top: 50px;
    text-align: center;
}
  .choice {
    border:4px solid white;
    border-radius:50%;
    margin: 20px 20px;
    padding:10px;
    display:inline-block;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background:rgb(85, 160, 204);
}

#action-message{
    text-align: center;
    font-size: 20px;
    margin: 80px 20px;
    border-top:3px solid rgb(85, 160, 204);
    border-radius: 20px;
}

#samurai{
  position: relative;
}

  /* Footer_socialMedia_links */

  footer{
    border-radius: 20px;
    height:100px;
    background-color:rgb(173 222 250);
  }
  
  .networks {
    text-align: center;
     display: block;
     list-style-type: none;
    font-size: 160%;
    color: #474747;
}

#copyright {
  text-align: center;
  font-size:1rem;
   display: flex;
  align-items: center;
  justify-content: center;
   
} 

/* history page video  */

.video{
  padding:20px;
  display: flex;
    align-items: center;
    justify-content: center;
    
}

/* contact page */


#form {
  padding:60px 80px 60px 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-top:3px solid rgb(85, 160, 204);
  border-radius: 20px;
}


@media screen and (max-width: 1200px) {
  #menu {
    font-size: 1rem;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #img_2{
    display:none;
  }
  }

  @media screen and (max-width: 320px) {
    #user-label{
      position:absolute;
      top:10px;
      left:-20px;
      letter-spacing:4px
      }
      
      #comp-label{
        position:absolute;
        top:60px;
        right:-30px;
        letter-spacing:4px
      }
    
      .result {
        color:white;
    }
    
    .result >p{
        text-align: center;
        font-weight:bold;
        font-size:12px
    
    }
    
      /* game selection */

      .choices{
        text-align: center;
    }
      .choice {
        border:4px solid white;
        border-radius:50%;
        padding:10px;
        transition: all 0.3s ease;
    }
    
    .choice:hover {
        cursor: pointer;
        background:rgb(85, 160, 204);
    }
    
    #action-message{
        text-align: center;
        border-top:3px solid rgb(85, 160, 204);
        border-radius: 20px;
        font-size:12px
    }
    .main_image{
      display: none;
    }
    #img_2{
      display:none;
    }
  }